/* @font-face {
font-family: 'pineapple';
src: url(../assets/fonts/pixel.TTF);
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.hometext {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #00313f;
}


@media only screen and (max-width: 1000px){

  .home {
    display: flex;
    flex-direction: column;
  }
.hometext {
  font-size: 10px;
  margin-right:50px;
  padding-top: 45px;
}

.mint_btn {
  font-size: 10px;
  padding: 5px;
}

img.roadmap {
  margin-right: 35px;
  height: 400px;
  width: 400px;
}

}


img.roadmap{
  min-height:90%;
  min-width: 48%;
  margin-top: -70px;
  
  float: right;

  
}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 50px;
}

/* Button element css */

.mintbtn{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.mint_btn {
  color: #002631;
  font-size: 1.5em;
  background-color: aqua;
  padding: 0.8rem;
  border-radius: 50px;
  font-weight: bold;
  transition-duration: 0.4s;
  border: 0px;
  margin-top: 1px;
}

.mint_btn:hover {
  cursor: pointer;
  background-color: rgb(0, 189, 189);
  color: white;
  
  
  }